<!-- <h1>Edit Page</h1>

<h4>{{currentParameter}}</h4>

<input type="text" ng-model="title"/>
<textarea ng-model="des"></textarea> -->

<div class="container">
<a ui-sref="list" title="Detailed Report">back</a>
  <h2>Vertical (basic) form</h2>
  <form role="form">
    <div class="form-group">
      <label for="email">title:</label>
      <input type="text" class="form-control" ng-model="title" id="title" placeholder="Enter title">
    </div>
    <div class="form-group">
      <label for="pwd">Description:</label>
      <textarea class="form-control" ng-model="des" ></textarea>
    </div>
    
    <button type="submit" class="btn btn-default" ng-click='editdata(currentParameter)'>Submit</button>
  </form>
</div>