<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>    
  <span>{{ remaining() }} of {{ blogdata.length }} remaining</span>  
  <div>   
  <a href="" class="btn btn-danger" ng-click="removeall()">Remove Completed</a>   
  <a ui-sref="add" class="btn btn-success" title="Detailed Report">Add</a>
  <a ui-sref="apidata" class="btn btn-success" title="Detailed Report">Api</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>title</th>
        <th>description</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="blog in blogdata track by $index">
        <td>{{blog.title}}</td>
        <td>{{blog.des}}</td>
        <td><input type="checkbox" data-ng-model="blog.done" ng-click="change_done($index,blog)">
            <a ng-click="edit_blog($index)" ng-model="blog.id" ui-sref="edit({id:$index})">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        </td>
      </tr>
     
    </tbody>
  </table>
</div>

<style type="text/css">
  .done-true {
text-decoration: line-through;
color: grey;
}
</style>

